@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

:root {
  --color-indianred: #d3564a;
  --color-white: #fff;
  --color-cornflowerblue: #519bd7;
  --color-lightgray: #d2cecf;
  --color-salmon: #e27f65;
  --color-darkgray: #98a4a5;
  --color-darkergray: #202020;
  --color-black: #000;
  --color-darkslategray: #444;
  --color-sienna: #9b3e34;
  --color-steelblue: #457eb4;
  --color-sandybrown: #e6ac5b;
  --color-whitesmoke: rgba(238, 238, 238, 0.7);
  --font-family-primary: "Fredoka One", cursive;
  --font-family-secondary: "Lexend Deca", sans-serif;
  --font-family-tertiary: "Source Sans Pro", sans-serif;
}

h3 {
  color: var(--color-white);
  font-weight: 600;
  text-transform: uppercase;
}
