@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

:root {
  --color-indianred: #d3564a;
  --color-white: #fff;
  --color-cornflowerblue: #519bd7;
  --color-lightgray: #d2cecf;
  --color-salmon: #e27f65;
  --color-darkgray: #98a4a5;
  --color-darkergray: #202020;
  --color-black: #000;
  --color-darkslategray: #444;
  --color-sienna: #9b3e34;
  --color-steelblue: #457eb4;
  --color-sandybrown: #e6ac5b;
  --color-whitesmoke: rgba(238, 238, 238, 0.7);
  --font-family-primary: "Lexend Deca", sans-serif;
}

/* responsive font-sizing */

/* rem unit is relative to base font size set to html */
html {
  font-size: 100%;
}

body {
  font-family: var(--font-family-primary);
  font-size: 1.2rem;
}

footer {
  font-size: 1rem;
}

.usage i {
  font-size: 1.5rem;
}

/* general styling */

h3 {
  color: var(--color-white);
  font-weight: 600;
  text-transform: uppercase;
}

a {
  color: var(--color-white);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--color-cornflowerblue);
}

/* widths */

.full-width {
  width: 100%;
}

/* CLASS FOR ALL ELEMENTS THAT ARE DISPLAY FLEX */
.display-flex {
  display: flex;
}

/* CLASS FOR ALL ELEMENTS UTILISING FLEX CENTER ALIGNMENT */
.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-fit {
  flex: 1 1 0;
  min-width: 0;
}

/* CLASS FOR ALL ELEMENTS ALIGNING TEXT TO CENTER */
.text-center {
  text-align: center;
}

/* CLASS FOR ALL ELEMENTS TRANSFORMING TEXT TO UPPERCASE */
.uppercase {
  text-transform: uppercase;
}
